<h1>This Page cotains all about Quora</h1>
<h3>Quora was thought up by <b>Adam D'Angelo</b>
and beautifully crafted by <b><a target="_blank" href="https://github.com/bigzoo">Chris de coder</a></b></h3>


{{outlet}}
